@model LogOfLegends.Models.Game
@{
  ViewBag.Title = "Add";
}
@Scripts.Render("~/bundles/jquery")
<h2>Add</h2>

@using (Html.BeginForm("SaveGame", "Logs"))
{
  @Html.DropDownListFor(m => m.League, new SelectList(new List<string> { "Bronze", "Silver", "Gold", "Platinum", "Diamond", "Master", "Challenger" }),"Select Your League", new { @class = "league" });
  @Html.DropDownListFor(m=> m.Division, new SelectList(new List<string> { "I", "II", "III", "IV", "V" }), "Select Your Division", new { @class = "division" });

  @Html.LabelFor(m => m.LP)
  @Html.TextBoxFor(m => m.LP)

  @Html.LabelFor(m => m.Score)
  @Html.TextBoxFor(m => m.Score)

  @Html.RadioButtonFor(m => m.wasWin, "true") <text>Win</text>
  @Html.RadioButtonFor(m => m.wasWin, "false") <text>Loss</text>

  @Html.LabelFor(m => m.Champion)
  @Html.TextBoxFor(m => m.Champion)

  @Html.LabelFor(m => m.Role)
  @Html.TextBoxFor(m => m.Role)

  @Html.LabelFor(m => m.Description)
  @Html.TextAreaFor(m => m.Description)

  @Html.HiddenFor(m => m.Id);


  <button class="btn btn-success submit">Submit</button>
}

<script>
  $(document).ready(function () {
    $(".submit").click(function () {
          var league = $(".league").val();
          var division = $(".division").val();
      $("#rank").val(league + " " + division);
        })
  })
</script>